*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width:90%;
    max-width: 900px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
    background-color: rgb(41, 39, 39);
}

img{
    width: 100%;
}

h2{
    color:white;
    font-size:2rem;
}
h2 a{
    color: white;
}
span{
    color: rgb(58, 189, 189);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    vertical-align: bottom;
}

li{
    display: inline-block;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

li a {
    color: white;
    transition: .4s ease-in all;
}

li a:hover{
    color: rgb(58, 189, 189);
    font-size: 1.5rem;
}

section{
    padding: 45px 0;
}

.section-two{
    background-color: rgb(41, 39, 39);
}

.section-two .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: white;
    align-items: center;

}

.sidebar-content{
    max-width: 400px;
    border: 3px solid rgb(58, 189, 189);
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

.section-two a{
    color: white;
    display: block;
    padding: 50px 40px;
    background-color: rgb(58, 189, 189);
    margin: 20px;
    border-radius: 10px;
    transition: .3s ease-in all;
    font-size: 24px;

}

.section-two a:hover,
.section-two a:active{
    background-color: rgb(58, 189, 189, 0.7);
    transform: scale(1.3);
}

.section-two h3{
    color: aqua;
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-two p{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 20px;
}